html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
}

.container-fluid {
    min-height: 100vh;
    min-width: 100vw;
    overflow-y: hidden;
    /* border: 1px solid yellow; */
}

#page-row {
    min-height: 100vh;
    min-width: 100vw;
}

.menu-element {
    color: whitesmoke;
    margin-top: 2vh;
}

h1 {
    color: whitesmoke;
}

hr {
    margin-bottom: 30px;
    margin-top: 30px;
}

/* modals */
.modal-content {
    background-color: black;
    color: white;
}

.modal-body-text {
    font-size: 20px;
}

.modal-tech {
    font-size: 18px;
    color: lightslategray;
}

.justify {
    text-align: justify;
}

.bi {
    font-size: 3rem
}


/* dna helix animation */
.fade-in { 
    animation: fadeIn 2s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}